h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  padding: 0;
}

body {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width:  400px) {
    width: 800px;
  }
}

header {
  background: linear-gradient(92.74deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  color: #FFFFFF;
  padding: 30px 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 9px;
  text-align: center;
}

.frame {
  width: 85%;
  border-radius: 5px;
  margin: 12px auto;
  padding: 15px;
}

legend {
  font-weight: 600;
  color: #626060;
}

input {
 color: #626060;
 font-size: 18px;
 font-weight: 400;
 background-color: #F3F1F2;
 border-radius: 4px;
 border: 1px solid #939393;
 height: 44px;
 width: 90px;
 margin-right: 12px;
 padding: 3px 10px 3px 10px;
 position: relative;
}

.lbl_form{
  color: #626060;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.btn_rate {
  width: 200px;
  height: 68px;
  font-weight: 700;
  font-size: 24px;
  /* align-items: center; */
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(93deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  border-radius: 68px;
  border: 0;
  margin: 23px 177px 23px 177px;
  /* margin-top: 54px;
  margin-bottom: 23px; */
  /* display: block; */
  @media screen and (min-width: 400px) {
     width: 326px;
  }
}

.select_curr{
 color: #626060;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 12px;
}

.btn {
  width: 200px;
  height: 68px;
  font-weight: 700;
  font-size: 24px;
  /* align-items: center; */
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(93deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  border-radius: 68px;
  border: 0;
  margin: 54px 237px 32px;
  /* margin-top: 54px;
  margin-bottom: 23px; */
  /* display: block; */
  @media screen and (min-width: 400px) {
     width: 326px;
  }
}