h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  padding: 0;
}

body {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width:  400px) {
    width: 800px;
  }
}

header {
  background: linear-gradient(92.74deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  color: #FFFFFF;
  padding: 30px 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 9px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #626060;
  margin: 60px 0px 12px;
  text-align: center;
}

.timefield {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.timefield_descr{
  padding-left: 10px;
  font-weight: 600;
  color: #626060;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle, .circle::before {
  content: " ";
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
}

.circle::before {
  animation: blink 2s linear infinite;
  position: absolute;
  background-color: #ffc400
}

@keyframes blink {
  50%   {
    transform: scale(2);
    opacity: 0
  }
  100%   {
    transform: scale(2);
    opacity: 0
  }
}

.frame {
  width: 85%;
  border-radius: 5px;
  margin: 12px auto;
  padding: 15px;
}

legend {
  font-weight: 600;
  color: #626060;
}

input {
 color: #626060;
 font-size: 18px;
 font-weight: 400;
 background-color: #F3F1F2;
 border-radius: 4px;
 border: 1px solid #939393;
 height: 44px;
 width: 90px;
 margin-right: 12px;
 padding: 3px 10px 3px 10px;
 position: relative;
}

.lbl_form{
  color: #626060;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.btn_rate {
  width: 200px;
  height: 68px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(93deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  border-radius: 68px;
  border: 0;
  margin: 23px 177px 23px 177px;
  @media screen and (min-width: 400px) {
     width: 326px;
  }
}

.select_curr{
 color: #626060;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 12px;
  width: 20%;
}

.btn {
  width: 200px;
  height: 68px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(93deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  border-radius: 68px;
  border: 0;
  margin: 54px 237px 32px;

  @media screen and (min-width: 400px) {
     width: 326px;
  }
}

.rates_table {
  margin: 40px 0 40px;
}


#searchInp {
  background-image: url('./search_149852.png'); /* Add a search icon to input*/
  background-position: 10px 22px;
  background-size: 20px;
  background-repeat: no-repeat; 
  width: 40%; 
  font-size: 16px; 
  padding: 12px 10px 12px 45px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#searchRateFrom, #searchRateTo {
  width: 12%; 
  font-size: 16px; 
  padding: 12px 10px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#rateTable {
  border-collapse: collapse; 
  width: 100%; 
  border: 1px solid #ddd; 
  font-size: 18px;
}

#rateTable th, #rateTable td {
  text-align: left; 
  padding: 12px;
}

#rateTable tr {
  border-bottom: 1px solid #ddd;
}

#rateTable tr.header, #rateTable tr:hover {
  background-color: #f1f1f1;
}